* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
    padding: 10px 0 10px 0;
    transform: scaleY();
    -webkit-transform: scaleY();
    -moz-transform: scaleY();
    -ms-transform: scaleY();
    -o-transform: scaleY();
    transform-origin: top;
    transition: all 0.2s ease-in-out;
    -webkit-transform: all 0.2s ease-in-out;
    -moz-transform: all 0.2s ease-in-out;
    -ms-transform: all 0.2s ease-in-out;
    -o-transform: all 0.2s ease-in-out;
}

.navbar.color-active {
    background-color: #212529;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    padding: 15px 0 15px 0;
}

.logo-nav {
    border-radius: 50%;
    width:30px;
    height:30px;
    margin-right: 20px;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) ,url(../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.hero h1 {
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero p {
    font-size: 30px;
}